# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker/

# Python virtual environment
.venv
venv/

# Caches
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.uv_cache/

# Build artifacts
dist/
build/
*.egg-info/

mlartifacts/
mlruns/